<section style="background-color: #eee; min-height: calc(100vh - 65px)">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-12 col-xl-10">
            <div class="card">
            <div class="card-header p-3 d-flex justify-content-between">
                <h5 class="mb-0 d-inline-block"><i class="fas fa-tasks me-2"></i>Task List</h5>
                <div class="dropdown d-inline-block">
                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Sort By Priority
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><button class="dropdown-item" (click)="sortDescending()">(High to Low)</button></li>
                      <li><button class="dropdown-item" (click)="sortAscending()">(Low to High)</button></li>
                    </ul>
                </div>
            </div>
            <div class="card-body c-body" data-mdb-perfect-scrollbar="true">

                <table class="table mb-0">
                <thead>
                    <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="fw-normal" *ngFor="let todo of todos; index as i">
                    <td class="align-middle" [class.text-decoration-line-through]="todo.isDone">
                        <span class="wrap">{{todo.title}}</span>
                    </td>
                    <td class="align-middle">
                        <h6 class="mb-0"><span [ngClass]="getColorClass(todo.priority)">{{todo.priority | titlecase}}</span></h6>
                    </td>
                    <td class="align-middle">
                        <span class="wrap">{{todo.notes}}</span>
                    </td>
                    <td class="align-middle">
                        <span role="button"  data-mdb-toggle="tooltip" title="Done" (click)="isDoneChange(i)"><fa-icon [icon]="todo.isDone ? faXmark : faCheck" class="text-success me-3"></fa-icon></span>
                        <span role="button"  data-mdb-toggle="tooltip" title="Remove" (click)="delete(i)"><fa-icon [icon]="faTrash" class="text-danger me-2"></fa-icon></span>
                    </td>
                    </tr>
                </tbody>
                </table>
            </div>
            <div class="card-footer text-end p-3">
                <button class="btn btn-primary" (click)="openModal()">Add Task</button>
            </div>
            </div>
        </div>
        </div>
    </div>
    <!-- Add overlay element here -->
    <div class="modal-overlay" *ngIf="isModalOpen"></div>
</section>
<app-add-task (onModalClose)="closeModal()"></app-add-task>