<section style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-10">
            <div class="card">
            <div class="card-header p-3">
                <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Task List</h5>
            </div>
            <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative">

                <table class="table mb-0">
                <thead>
                    <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="fw-normal" *ngFor="let todo of todos; index as i">
                    <td class="align-middle" [class.text-decoration-line-through]="todo.isDone">
                        <span>{{todo.title}}</span>
                    </td>
                    <td class="align-middle">
                        <h6 class="mb-0"><span [ngClass]="getColorClass(todo.priority)">{{todo.priority | titlecase}}</span></h6>
                    </td>
                    <td class="align-middle">
                        <span>{{todo.notes}}</span>
                    </td>
                    <td class="align-middle">
                        <span role="button"  data-mdb-toggle="tooltip" title="Done" (click)="isDoneChange(i)"><fa-icon [icon]="todo.isDone ? faCheck : faXmark" class="text-success me-3"></fa-icon></span>
                        <span role="button" data-mdb-toggle="tooltip" title="Remove" (click)="delete(i)"><fa-icon [icon]="faTrash" class="text-danger"></fa-icon></span>
                    </td>
                    </tr>
                </tbody>
                </table>

            </div>
            <div class="card-footer text-end p-3">
                <button class="btn btn-primary" (click)="openModal()">Add Task</button>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
<app-add-task></app-add-task>