<!-- The Modal -->
<div class="modal" id="myModal" #modal>
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add New Task</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
            </div>

            <!-- Modal body -->
            <form [formGroup]="addTaskForm" (ngSubmit)="addTask(addTaskForm)">
                <div class="modal-body">
                    
                    <input type="text" class="form-control" placeholder="Task Title" formControlName="title" maxlength="20">

                    <div class="text-center m-3">
                        <div class="m-1 border-bottom">Priority:</div>
                        <div class="form-check form-check-inline">
                            <input name="priority" [value]="'High'" class="form-check-input" type="radio" id="inlineRadio1" formControlName="priority" />
                            <label class="form-check-label" for="inlineRadio1">High</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="priority" [value]="'Medium'" class="form-check-input" type="radio" id="inlineRadio2" formControlName="priority" />
                            <label class="form-check-label" for="inlineRadio2">Medium</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="priority" [value]="'Low'" class="form-check-input" type="radio" id="inlineRadio3" formControlName="priority" />
                            <label class="form-check-label" for="inlineRadio3">Low</label>
                        </div>
                    </div>

                    <input name="notes" class="form-control text-wrap" placeholder="Notes" formControlName="notes" maxlength="30">

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal" [disabled]="!addTaskForm.valid">Add Task</button>
                </div>
            </form>
        </div>
    </div>
</div>